body, html {
  height: 100%;
}
.col-sm-12 {
  text-align: center;
  background-color: rgb(35,31,32);
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.main {
  padding: 16px;
  animation-name: slide;
  animation-duration:3s;
  animation-fill-mode:forwards;
}
@-webkit-keyframes slide {
  0%   { transform: translate(100px,0px); }
  100% { transform: translate(0px,0px); }
}
@-moz-keyframes slide {
  0%   { transform: translate(100px,0px); }
  100% { transform: translate(0px,0px); }
}
@-o-keyframes slide {
  0%   { transform: translate(100px,0px); }
  100% { transform: translate(0px,0px); }
}
@keyframes slide {
  0%   { transform: translate(100px,0px); }
  100% { transform: translate(0px,0px); }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#navbutton {
  font-size:20pt;
  cursor: pointer;
  color:white;
  font-family: 'Times New Roman', Times, serif;
}

#navbar {
  padding:0px;
  margin:10px;
  background-color:rgb(89,106,99);
  text-align:left;
}
.col-sm-2 {
  animation-name: side;
  animation-duration:2.0s;
  animation-fill-mode:forwards;
}
@-webkit-keyframes side {
  0%   { transform: translate(-80px,0px); }
  100% { transform: translate(0px,0px); }
}
@-moz-keyframes side {
  0%   { transform: translate(-80px,0px); }
  100% { transform: translate(0px,0px); }
}
@-o-keyframes side {
  0%   { transform: translate(-100px,0px); }
  100% { transform: translate(0px,0px); }
}
@keyframes side {
  0%   { transform: translate(-100px,0px); }
  100% { transform: translate(0px,0px); }
}

#blurb {
  padding:15px;
  margin:0px;
  background-color:rgb(155,91,54);
}

.container {
  animation-name: scooch;
  animation-duration:2.0s;
  animation-fill-mode:forwards;
  color: white;
  font-family: Roboto, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  padding: 5px;
}
@-webkit-keyframes scooch {
  0%   { transform: translate(-80px,0px); }
  100% { transform: translate(0px,0px); }
}
@-moz-keyframes scooch {
  0%   { transform: translate(-80px,0px); }
  100% { transform: translate(0px,0px); }
}
@-o-keyframes scooch {
  0%   { transform: translate(-100px,0px); }
  100% { transform: translate(0px,0px); }
}
@keyframes scooch {
  0%   { transform: translate(-100px,0px); }
  100% { transform: translate(0px,0px); }
}