body, html {
}
.row {
  background-color: rgb(35,31,32);
  padding:0px;
  margin:0px;
}
.row2 {
  position: absolute;
  top:1260px;
  z-index:+10;
  text-align:center;
  background-color: rgb(35,31,32);
  width:100%;
  height:50px;
}
.col-sm-4 {
  color:white;
  padding-top:15px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index:+12;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
#l {
  color:black;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.main {
  position:absolute;
  top:30px;
  left:13px;
  width:280px;
  background-color:transparent;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#navbutton {
  font-size:20pt;
  cursor: pointer;
  color:white;
  font-family: 'Times New Roman', Times, serif;
  text-align:left;
}

#ltor {
  padding: 16px;
  animation-name: lside;
  animation-duration:2.0s;
  animation-fill-mode:forwards;
  text-align:left;
}
@-webkit-keyframes lside {
  0%   { transform: translate(-80px,0px); 
         opacity:0;}
  100% { transform: translate(0px,0px); 
         opacity:1;}
}
@-moz-keyframes lside {
  0%   { transform: translate(-80px,0px); 
         opacity:0;}
  100% { transform: translate(0px,0px); 
         opacity:1;}
}
@-o-keyframes lside {
  0%   { transform: translate(-100px,0px); 
         opacity:0;}
  100% { transform: translate(0px,0px); 
         opacity:1;}
}
@keyframes lside {
  0%   { transform: translate(-100px,0px); 
         opacity:0;}
  100% { transform: translate(0px,0px); 
         opacity:1;}
}

#rtol2 {
  padding: 16px;
  animation-name: side;
  animation-duration:1.5s;
  animation-fill-mode:forwards;
  margin:10px;
  z-index:+9;
}
#rtol {
  padding: 16px;
  animation-name: side;
  animation-duration:1.5s;
  animation-fill-mode:forwards;
  margin:10px;
}
@-webkit-keyframes side {
  0%   { transform: translate(80px,0px); 
         opacity: 0; }
  100% { transform: translate(0px,0px);
         opacity:1; }
}
@-moz-keyframes side {
  0%   { transform: translate(80px,0px); 
         opacity:0;}
  100% { transform: translate(0px,0px); 
         opacity:1;}
}
@-o-keyframes side {
  0%   { transform: translate(100px,0px); 
         opacity:0;}
  100% { transform: translate(0px,0px); 
         opacity:1;}
}
@keyframes side {
  0%   { transform: translate(100px,0px); 
         opacity:0;}
  100% { transform: translate(0px,0px); 
         opacity:1;}
}

.dtou {
  padding: 16px;
  animation-name: vslide;
  animation-duration:3s;
  animation-fill-mode:forwards;
}
@-webkit-keyframes vslide {
  0%   { transform: translate(0px,100px); }
  100% { transform: translate(0px,0px); }
}
@-moz-keyframes vslide {
  0%   { transform: translate(0px,100px); }
  100% { transform: translate(0px,0px); }
}
@-o-keyframes vslide {
  0%   { transform: translate(0px,100px); }
  100% { transform: translate(0px,0px); }
}
@keyframes vslide {
  0%   { transform: translate(0px,100px); }
  100% { transform: translate(0px,0px); }
}

.pic {
  background-image:url('crystal.svg');
  background-repeat:no-repeat;
  background-position:center;
  background-size:900px 600px;
  height:600px;
  padding: 0px; 
  margin:0px;
  animation: fadein 3s ease ;
}
@keyframes fadein {
  0% {opacity:0;}
  10% {opacity:0.1;}
  30% {opacity:0.5}
  50% {opacity:0.7;}
  100% {opacity:1;}
}
.main2 {
  position:absolute;
  top:190px;
  right:60px;
  width:280px;
  background-color:transparent;
  z-index:+9;
}
.main3 {
  position:absolute;
  top:425px;
  left:60px;
  width:180px;
  background-color:transparent;
}
.col7 {
  width:200px;
  height:100px;
  padding:10px;
  position: absolute;
  top:400px;
  left:50px;
  background-color:rgb(89,106,99);
}
.col8 {
  width:500px;
  height:300px;
  padding:10px;
  position: absolute;
  top:1000px;
  left:100px;
  background-color:rgb(35,31,32);
  z-index:+7;
}
.col85 {
  width:500px;
  height:300px;
  padding:10px;
  position: absolute;
  top:800px;
  left:100px;
  background-color:rgb(35,31,32);
  z-index:+7;
}
.col9 {
  width:300px;
  height:115px;
  padding-top:0px;
  background-color: rgb(155,91,54);
  position: absolute;
  top:170px;
  right:30px;
  z-index:7;
}
.col6 {
  width:100%;
  height:600px;
  padding-top:0px;
  background-color:rgb(89,106,99);
  position: absolute;
  top:1000px;
}
#o {
  height:400px;
  padding: 0px; 
  margin-left:50px;
}
#o2 {
  padding:0;
  margin-left:50px;
  margin-top:90px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:2;
}
.col4 {
  width:100%;
  height:600px;
  padding-top:0px;
  position: absolute;
  background-color:rgb(155,91,54);
  top: 700px;
  z-index:1;
}
.col5 {
  width:300px;
  height:300px;
  margin:0px;
  padding:10px;
  position: absolute;
  top:800px;
  left:100px;
  background-color:rgb(35,31,32);
  z-index:+8;
}